/*!
 * Hack the TriCo 2016
 */


/* NAVIGATION*/

ul {
  list-style-type: none;
  width: 100%;
  background-color: #363636;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  overflow: hidden;
}

li {
  display: inline;
  float: center;
}

li a {
  display: inline-block;
  color: #F6F6F6;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 18%;
}

li a:hover {
  background-color: #F78284;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a.button {
  appearance: none;
  background: #00CECB;
  border-radius: 5px;
  border: solid 2px #00CECB;
  box-shadow: none;
  color: #EEEEEE;
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -1.07;
  line-height: 1.8;
  margin-top: 40px;
  padding: 0 20px;
  text-decoration: none;
}

a.button:focus {
  outline: none
}

.banner_background{
  padding-top: 50px;
  align-items: center;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.banner_text {
  /* Come hack with stude: */
  color: #000000;
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  max-width: 600px;
  padding-top: 20px;
  text-align: center;
}

/* ABOUT */
.about_text a {
  border-bottom: 2px solid #F7F7F7;
  color: #F7F7F7;
  text-decoration: none;
}

.about_text a:visited {
  color: #F7F7F7;
}

.about_background {
  align-items: center;
  background-color: #00CECB;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.about_title {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 800px;
  text-align: center;
}

.about_text {
  flex: 1;
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  margin-top: 40px;
  text-align: justify;
  line-height: 32px;
}

/* SCHEDULE */
.schedule_background {
  display: flex;
  flex-direction: column;  
  align-content: center;
  background-color: #FF5E5B;
  color: #F7F7F7;
  justify-content: center;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}

.schedule_title {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
}

.schedule_text {
   font-size: 24px;
   font-weight: 300;
   margin-top: 40px;
   flex: 1;
   padding-left: 30px;
   padding-right: 30px;
}

/* FAQ */
.faq_background {
  background-color: #F0F0F0;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 20px;
}

.faq_question_answer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-flow: column wrap;
  padding-left: 100px;
  padding-right: 100px;
  height: 1450px;
}

.faq_title {
  color: #1E1E1E;
  font-family: "montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
  width: 100%;
}

.faq_question_answer {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: justify;
  width: 450px;
}

.faq_question {
  color: #1E1E1E;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
}

.faq_answer{
  padding-top: 20px;
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}

.faq_answer a {
  color: #1E1E1E;
}

.faq_answer a:hover {
  color:#FF5E5B;
}

.faq_last {
  padding-bottom: 90px;
  }

.footer {
  padding: 10px 0;
  text-align: center;
}

.footer a {
  color: black;
}

/* SPONSORS */
.sponsor_background {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #F6F6F6;
}

.sponsor_title {
  color: #1E1E1E;
  font-family: "montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
}

.sponsor_add_new_button {
  margin-top: 40px;
  text-align: center;
}

.sponsor_caption {
  text-align: center;
}

.sponsor_caption a {
  color: #1E1E1E;
}

.sponsor_caption a:hover {
  color:#FF5E5B;
}


/* smaller screen */
@media screen and (max-width : 730px) {
  .about_title {
  font-size: 3em;
  }

.schedule_title {
  font-size: 4em;
  }

.faq_title {
  font-size: 4em;
  }  

.sponsor_title {
  font-size: 4em;
  }

.about_text {
  font-size: 20px;
  }

.faq_question_answer_container {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  height: auto;
}

.faq_question_answer {
  width: 60%;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  }

.faq_question {
  font-size: 20px;
  }

.faq_answer {
  font-size: 18px;
  }
}

/* for mobile */
@media screen and (max-width : 480px)  {
  .banner_background {
  height: 700px;
  padding-top: 0px;
  }

  ul {
  width: 100%;
  position: relative;
  }

  li {
  display: block;
  }

  li a {
  width: 100%;
  }

.about_background {
  padding-top: 60px;
}

.schedule_background {
  padding-top: 60px;
  padding-bottom: 60px;
}

.faq_background {
  padding-top: 60px;
}

.sponsor_background {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about_title {
  font-size: 3em;
  }

.schedule_title {
  font-size: 3em;
  }

.faq_title {
  font-size: 4em;
  }  

.sponsor_title {
  font-size: 3em;
  }

.about_text {
  font-size: 18px;
  }

.faq_question {
  font-size: 18px;
  }

.faq_answer {
  font-size: 16px;
  }
  
.faq_question_answer_container {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  height: 3200px;
}

.faq_question_answer {
  text-align: justify;
  width: 80%;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  }
}


/* FOOTER */
.footer {
  background-color: #00CECB;
}