/*!
 * Hack the TriCo 2016
 */


/* NAVIGATION*/

ul {
  list-style-type: none;
  width: 100%;
  background-color: #363636;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  overflow: hidden;
}

li {
  display: inline;
  float: center;
}

li a {
  display: inline-block;
  color: #F6F6F6;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 18%;
}

li a:hover {
  background-color: #F78284;
}

/* for mobile */
@media screen and (max-width: 500px){
  li {
  display: block;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a.button {
  appearance: none;
  background: #00CECB;
  border-radius: 5px;
  border: solid 2px #00CECB;
  box-shadow: none;
  color: #EEEEEE;
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -1.07;
  line-height: 1.8;
  margin-top: 40px;
  padding: 0 20px;
  text-decoration: none;
}

a.button:focus {
  outline: none
}

.banner_background{
  align-items: center;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  height: 125vh;
  justify-content: center;
}

.banner_image {
  width: auto\9;
}

.banner_text {
  /* Come hack with stude: */
  color: #000000;
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  max-width: 600px;
  padding-top: 20px;
  text-align: center;
}



/* ABOUT */
.about_text a {
  border-bottom: 2px solid #F7F7F7;
  color: #F7F7F7;
  text-decoration: none;
}

.about_text a:visited {
  color: #F7F7F7;
}

.about_background {
  align-items: center;
  background-color: #00CECB;
  color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px;
  text-align: center;
}

.about_title {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  max-width: 800px;
  text-align: center;
}

.about_text {
  flex: 1;
  font-size: 24px;
  font-weight: 300;
  max-width: 800px;
  margin-top: 40px;
  text-align: justify;
}

/* SCHEDULE */
.schedule_background {
  align-content: center;
  background-color: #FF5E5B;
  color: #F7F7F7;
  margin: 0 auto;
  padding: 90px;
  text-align: center;
}

.schedule_title {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  padding-top: 70px;
  text-align: center;
}

.schedule_text {
  text-align: center;
}

/* FAQ */
.faq_background {
  align-items: center;
  background-color: #F0F0F0;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 90px;
  text-align: center;
}

.faq_question_answer_container {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}



.faq_title {
  color: #1E1E1E;
  font-family: "montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: 55px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
}

.faq_question_answer {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  width: 400px;
}

.faq_question {
  color: #1E1E1E;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.faq_answer{
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}

.faq_answer a {
  color: #1E1E1E;
}

.faq_answer a:hover {
  color:#FF5E5B;
}

.footer {
  padding: 10px 0;
  text-align: center;
}

.footer a {
  color: black;
}

/* SPONSORS */
.sponsor_background {
  padding-top: 90px;
}

.sponsor_title {
  color: #1E1E1E;
  font-family: "montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
}

.sponsor_add_new_button {
  margin-top: 40px;
  text-align: center;
}

.sponsor_caption {
  text-align: center;
}

.sponsor_caption a {
  color: #1E1E1E;
}

.sponsor_caption a:hover {
  color:#FF5E5B;
}

/* FOOTER */
.footer {
  margin-top: 30px;
  background-color: #00CECB;
}